html,
body {
	position: relative;
	width: 100%;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	display: none;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 4px 6px;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	border-radius: 3px;

	/* Position the tooltip */
	position: absolute;
	top: 110%;
	right: -8px;
	z-index: 1;
}

.tooltip.tooltip-visible .tooltiptext {
	display: block;
}
