* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	width: 400px;
}

.header {
	background-color: blueviolet;
	padding: 6px 10px;
	color: white;
	font-weight: bold;
	font-size: 17px;
	display: flex;
}
.header .title {
	text-align: center;
	flex-grow: 1;
}
.header .actions {
	display: flex;
	align-items: center;
}
.header .actions .restore {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.header .actions .restore svg {
	height: 14px;
	fill: white;
}

.clear-trash {
	border: none;
	background: none;
	color: #ffd0d0;
	margin-right: 10px;
	font-size: 12px;
	font-family: arial;
	cursor: pointer;
	padding: 2px 8px;
	transition: 0.2s;
	border-radius: 4px;
}
.clear-trash:hover {
	background: #ce1b1b;
}

.lists-wrapper {
	max-height: 400px;
	overflow-y: auto;
}

.list-header {
	padding: 0px 12px;
    margin-top: 10px;
    font-weight: bold;
}

.og-image {
	height: 60px;
	max-width: 45px;
	margin-right: 5px;
}
.og-image img {
	max-height: 100%;
	width: 100%;
}

.link-item {
	display: flex;
	/* box-shadow: 0 0 3px 1px #2d0d4a; */
	padding: 6px 8px;
	margin: 5px;
	background: #f3f3f3;
}
.link-item .detail {
	flex-grow: 1;
	max-width: calc(100% - 84px);
}
.link-item .detail.deduct-og-image {
	max-width: calc(100% - 134px) !important;
}
.link-item .title-row,
.link-item .url-row {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.link-item .title-row a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}
.link-item .url-row a {
	color: gray;
	font-size: 12px;
}
.link-item .actions {
	display: flex;
	align-items: center;
}
.link-item .actions .action {
	margin-left: 8px;
	max-height: 24px;
	cursor: pointer;
}
.link-item .actions .action svg {
	height: 20px;
	fill: #636363;
}

.add-link {
	width: 100%;
	background: #c5c5c5cc;
	border: none;
	padding: 8px;
	cursor: pointer;
}
